PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://root:super_secure_password@db:5432/main

POSTGRES_USER=root
POSTGRES_PASSWORD=super_secure_password
POSTGRES_DB=main

EMAIL=SecureVault <name@domain>
RESEND_API_KEY=

ENCRYPTION_KEY=
JWT_SECRET=

APP_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173
