PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://root:super_secure_password@db:5432/main

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

ENCRYPTION_KEY=
JWT_SECRET=

PRISMA_ENGINES_CACHE_DIR="../../node_modules/.cache/prisma"
