node_modules/
dist/
build/
out/
.vite/
coverage/
logs/
.eslintcache
*.tsbuildinfo
.env*
.env.local
.env.production
Dockerfile*
docker-compose.yml
prisma/migrations/
docs/
.husky/
.vercel/
swagger.*
nginx.*
*.yml
*yaml
